body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4181ee;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
main {
    padding: 20px;
}
.container {
    position: relative; /* 设置容器为相对定位 */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0 150px;
}
.content {
    flex: 2;
    margin-right: 20px;
}
.sidebar {
    position: absolute; /* 设置图片为绝对定位 */
    top: 30px; /* 顶部对齐 */
    right: 250px; /* 右侧对齐 */
    /* transform: translate(50%, -50%); 使图片定位到右上角 */
}
.sidebar img {
    width: 150px; /* 设置图片宽度 */
    border: 3px solid #c3d6ff; /* You can adjust the width and color of the border as needed */

}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.section-title {
    border-bottom: 2px solid #ddd;
    padding-bottom:2px;
    margin-bottom: 5px;
}
.project {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;

    background-color: #e0ffff;
    padding: 5px 20px; /* 5px top/bottom padding, 20px left/right padding */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px; /* Adjust this value to set the distance from the "CLASS PROJECTS" title */
    margin-left: 30px; /* Adjust this value to set the distance from the "CLASS PROJECTS" title */
    margin-right: 30px; /* Adjust this value to set the distance from the "CLASS PROJECTS" title */

    height: auto; /* 或者不设置高度，让div根据内容自动调整高度 */
    overflow: auto; /* Automatically expand if content overflows */
}

.project_contest{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;

    background-color: hsl(63, 100%, 88%);
    padding: 5px 20px; /* 5px top/bottom padding, 20px left/right padding */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px; /* Adjust this value to set the distance from the "CLASS PROJECTS" title */
    margin-left: 30px; /* Adjust this value to set the distance from the "CLASS PROJECTS" title */
    margin-right: 30px; /* Adjust this value to set the distance from the "CLASS PROJECTS" title */

    height: auto; /* 或者不设置高度，让div根据内容自动调整高度 */
    overflow: auto; /* Automatically expand if content overflows */
}
.funThings {
    background-color: #ffe174;
    padding: 5px 20px; /* 5px top/bottom padding, 20px left/right padding */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px; /* Adjust this value to set the distance from the "CLASS PROJECTS" title */
    margin-left: 30px; /* Adjust this value to set the distance from the "CLASS PROJECTS" title */
    margin-right: 30px; /* Adjust this value to set the distance from the "CLASS PROJECTS" title */

    height: auto; /* 或者不设置高度，让div根据内容自动调整高度 */
    overflow: auto; /* Automatically expand if content overflows */
}

.img-box {
    float: right;
    margin: 8px;
    margin-top: 30px;
}

.img-box-left-F {
    float: left;
    /* display: inline-block; */
    border: 10px solid #52f3ff; /* 画框 */
    border-radius: 20px; /* 棱角 */
    margin: 8px;
}

.course {
    /* font-size: 1.5em; */
    /* font-weight: bold; */
    color: #007BFF;
    font-style: italic;
    /* text-decoration: underline; */
}

.course-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25%; /* Adjust the gap as needed for spacing between the paragraphs */
    margin-bottom: -25px; /* Adjust the margin-bottom as needed */

}
h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0; /* Remove default margins */
}
h3 small em {
    font-style: italic; /* 设置为斜体 */
    font-family: 'Times New Roman';
    font-weight: lighter;
    font-size: 20px; /* 自动设置为稍小的字体大小 */
    }


